<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<img src="/assets/images/burger.png" alt="burger" />
			<h1> Eat-Da-Burger! </h1>
		</div>

		<ul>
			{{#each burger_data}}
			<li>
				<p>
					{{this.id}}. {{this.burger_name}}
					<button data-burgerid="{{this.id}}" class="devburger">Devour Burger!</button>
				</p>
			</li>
			<li>
				<form class="devour-form button-size">
					<input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
					<button type="submit" class="btn btn-default">Devour it!</button>
				</form>
			</li>
			{{/each}}
		</ul>

		<h2>Create a Burger</h2>
		<form id="createburger" class="button-size">
			<textarea type="text" name="burger"></textarea>
			<button type="submit">Save Burger!</button>
		</form>

		<h2>Devour a Burger</h2>
		<form id="devourburger" class="button-size">
			<select name="id">
				{{#each burger_data}}
				<option value="{{this.id}}">{{this.burger_name}}</option>
				{{/each}}
			</select>
			<textarea type="text" name="burger" placeholder="enter a burger"></textarea>
			<button type="submit">Devour Burger!</button>
		</form>

		<script type="text/javascript">
			$(".devburger").on("click", function (event) {
				// Get the ID from the button.
				// This is shorthand for $(this).attr("data-planid")
				var burger_id = $(this).data("burgerid");
				//==============how to handle ajax call?

				$.ajax({
					method: "PUT",
					url: "/burger_table/" + burger_id
				}).then(function (data) {
					// reload page to display devoured burger in proper column
					location.reload();
				});
			});


			$("#createburger").on("submit", function (event) {
				event.preventDefault();

				var newBurger = {
					burger: $("#createburger [name=burger]").val().trim()
				};

				$.ajax("/burger_table/create", {
					type: "POST",
					data: newBurger

				}).then(
					function () {
						console.log("created new burger");
						location.reload();
					}
				);
			});

			$("#devourburger").on("submit", function (event) {
				// Make sure to preventDefault on a submit event.
				event.preventDefault();

				// Get the ID by finding an element with a "name" attribute equal to the string "id"
				var id = $("[name=id]").val().trim();

				var devouredBurger = {
					plan: $("#devourburger [name=plan]").val().trim()
				};

				// Send the PUT request.
				$.ajax("/burger_table/create" + id, {
					type: "PUT",
					data: devouredBurger
				}).then(
					function () {
						console.log("devoured id ", id);
						// Reload the page to get the updated list
						location.reload();
					}
				);
			});
		</script>

		<div class="col-md-6 text-center" class="task">
			{{#each burger_data}}
			{{#if this.devoured}}
			<input class="form-control" type="text" placeholder="{{this.id}} . {{this.burger_name}}">
			{{/if}}
			{{/each}}
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
			<form action="/burger_table/create" method="POST">
				<input type="text" class="form-control" name="burger_name" value="" id="enter_text">
				<button type="submit" class="btn btn-primary" id="text-enter-button">Submit</button>
			</form>
			<p>Enter a burger you want to eat Click the "Submit" button.</p>
		</div>
	</div>
</div>